* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

div {
    width: 200px;
    height: 200px;
    background-color: green;

}